.filesList {
  padding-bottom: 20px;

  .filesContainer {
    height: 440px;
    overflow-y: auto;

    &::-webkit-scrollbar  {
      background-color: white;
      width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: #2474db;
      width: 8px;
      border-radius: 6px;
    }
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    border-bottom: 2px solid #2474db;
    min-height: 50px;
    align-items: center;

    h2 {
      margin: 0;
      font-size: 20px;
      line-height: 26px;
    }

    .name {
      grid-column-start: 2;
    }
  
    .date {
      grid-column-start: 5;
      justify-self: center;
    }
  
    .size {
      grid-column-start: 6;
      justify-self: center;
    }
  }
}

.noFiles {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 200px;
}